console:
	commands:
		- KdybyTests\Console\TypoCommand
		- KdybyTests\Console\AmbiguousCommand1
		- KdybyTests\Console\AmbiguousCommand2
		- KdybyTests\Console\NamespaceAmbiguousCommand1
		- KdybyTests\Console\NamespaceAmbiguousCommand2
		- KdybyTests\Console\ArgCommand
		- KdybyTests\Console\SameArgsCommandOne(@service1, @service2)
		- KdybyTests\Console\SameArgsCommandTwo(@service1, @service2)

services:
	service1: KdybyTests\Console\ArgCommand
	service2: KdybyTests\Console\TypoCommand
